<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link href="https://bit.do/blend-css" rel="stylesheet">
	<link href="./css/styles.css" rel="stylesheet">
	<title>CSS</title>
  </head>
    
  <body>
     <div class="container">
       <div class="btn-light">
         <h1>¡Hola Mundo!</h1>
         <button class="btn btn-default">Continuar</button>
       </div>
	   <div>
			<h3> Hola Amigos del CODE-BLUE </h3>
			<h2 class="negrita"> Hola Amigos del CODE-BLUE </h2>
			<p id="gigante"> Hola Amigos del CODE-BLUE </p>
	   </div>
	   <h1 class="destacado">OFERTAS</h1>

        <h3 class="en-mayuscula">Smartphones</h3>
        <p>Celulares de útlima marca</p>

        <h3 class="en-mayuscula">Notebooks</h3>
        <p>Gamers, office y más</p>

        <h3 class="en-mayuscula">Tablets</h3>
        <p>Llevalas a todos lados</p>

        <h4 id="whatsapp">¡Contactanos via whastapp!</h4>
	   <div>
	   
	   </div>
	   <div>
	   
	   </div>
	   
     </div>
  </body>
</html>