<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Enviar un archivo al navegador</title>
</head>
<body>
   <h1>¡Hola mundo!</h1>
   <h2>Esto ha salido de Maravilla</h2>
   <p>Auyán Tepui (Spanish pronunciation: [awˈʝan teˈpuj]), also spelled Ayan,[2] is a tepui in Bolívar state, Venezuela.[1] It is the most visited and one of the largest (but not the highest) tepuis in the Guiana Highlands, with a summit area of 666.9 km2 (257.5 sq mi) and an estimated slope area of 715 km2 (276 sq mi).[1] The unevenly heart-shaped summit plateau of Auyán-tepui is heavily inclined, rising from around 1,600 metres (5,200 ft) in the northwest to a maximum of 2,450 m (8,040 ft) in the southeast.[1] It is incised from the north by a vast valley, the Cañón del Diablo (Devil's Canyon), formed by the Churún River. The larger western portion of the plateau is partially forested, whereas the eastern part comprises mostly bare rock with only patchy vegetation cover.[1] The mountain hosts a number of extensive cave systems</p>
</body>

</html>
