<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mi primer documento HTML</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;400;800&display=swap" rel="stylesheet"> 
	
   <link href="/ccs/styles.css" rel="stylesheet">
</head>
<body>
   <h4>Soy un h4</h4>

   <h1>El título de nuestro documento</h1>

	<img src="/img/leia.jpg" alt="Princesa Leia">
   <p>¡Feliz, feliz!. ¡Alegre, alegre!¡Feliz, feliz!. ¡Alegre, alegre!¡Feliz, feliz!. ¡Alegre, alegre!¡Feliz, feliz!. ¡Alegre, alegre!feliz!. ¡Alegre, alegre!¡Feliz, feliz!. ¡Alegre, alegre!¡Feliz, feliz!. ¡Alegre, alegre!¡Feliz, feliz!. ¡Alegre, alegre</p>
   
   <p>IsLA de Magarita¡La perla del Caribe!IsLA de Magarita¡La perla del Caribe!IsLA de Magarita¡La perla del Caribe!IsLA de Magarita¡La perla del Caribe!IsLA de Magarita¡La perla del Caribe!IsLA de Magarita¡La perla del Caribe!IsLA de Magarita¡La perla del Caribe!</p>
   
   <ol>  
	<li> Intem 1</li>
	<li> Intem 2</li>
	<li> Intem 3</li>
	
   </ol>
   
   <ul>  
	<li> Intem 1</li>
	<li> Intem 2</li>
	<li> Intem 3</li>
   </ul>
   
   <a href="https://www.google.com">Ir a Google</a>
</body>

</html>
